build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db
android/.gradle
android/captures/
android/local.properties
GeneratedPluginRegistrant.java
key.properties
**/*.keystore
**/*.jks
linux/
macos/
web/
windows/
test/